.btn {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: 700;
  font-size: 17px;
  color: #444444;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #ffffff;
  border: 2px solid #444444;
  width: 100%;
  line-height: 20px;
}
