.features {
  padding: 30px 9% 60px;
  color: #000000;
}

.features__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.features__list {
  padding: 0;
  margin: 0;
}

.features__item {
  padding-top: 86px;
  font-weight: 700;
  line-height: 20px;
  list-style: none;
}
