.form-order {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 55px;
}

.form-order__container {
  border: none;
  border-top: 1px solid #63d1bb;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.form-order__legend {
  width: 62px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  background: #fff;
}

.form-order__radio {
  display: none;
}

.form-order__checkbox {
    display: none;
}

.form-order__label {
  display: block;
  padding-left: 62px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000;

  &--checkbox {
    padding-bottom: 40px;
  }

  &--name {
    padding-left: 0px;
  }
}


.form-order__field,
.form-order__email,
.form-order__tel {
  width: 100%;
  padding-bottom: 14px;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
  border: none;
  border-bottom: 2px solid #000;
}

.form-order__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 140px;
  padding: 16px 80px 16px 16px;
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
  border: 2px solid #000;
}

.form-order__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #444;
}
