.page-header {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    height: 84px;
  }
}

.page-header__wrapper {
  @media (min-width: @tablet-width) {
    max-width: 668px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1050px;
  }
}

.page-header__logo {
  display: block;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ececec;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
    width: 100px;
    margin: 0 auto;
  }
}
