.reviews {
  padding: 0 9% 45px;
  font-size: 0;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__control {
  display: inline-block;
  width: 50%;
  min-height: 50px;
  margin-bottom: 38px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}
