.video {
    padding-bottom: 30px;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
    border: 1px solid #ededed;
    margin-bottom: 60px;
}

.video__title {
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 60px;
    margin: 0;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
    text-align: left;
    text-decoration: none;
}

.video__box {
    max-width: 260px;
    background: url("../img/video-mobile@1x.jpg") no-repeat;
}

.video__text {
    margin: 35px 13% 28px;
    font-size: 13px;
    line-height: 24px;
    color: #444;
    text-align: left;
}

.video__btn {
    max-width: 190px;
    margin: 0 30px;
}
