.weekly-leader {
    padding: 35px 9% 40px;
    font-weight: 400;
    font-size: 17px;
}

.weekly-leader__title {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000;
}

.weekly-leader__subtitle {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #63d1bb;
    text-transform: uppercase;
}

.weekly-leader__text {
    font-size: 15px;
    line-height: 24px;
    color: #444444;
}

.weekly-leader__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 20px;
    color: #444444;
}

.weekly-leader__table td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.weekly-leader__img {
    padding-bottom: 20px;
    text-align: center;
}

.weekly-leader__price {
    display: block;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #444444;
    text-align: center;
}
